# Config

PUBLIC_APP_BASE_URL=https://sotsial.com

# Database (for migrations)

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:6432/sotsial

# API

INTERNAL_PROXY_SECRET=
ENCRYPTION_KEY=

# Stripe

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Auth

AUTH_SECRET=

# GitHub

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Threads

THREADS_CLIENT_ID=
THREADS_CLIENT_SECRET=

# Instagram

INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=

# Facebook

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# TikTok

TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=

# LinkedIn

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Twitter

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# Google

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# YouTube

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
